@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}



<html>
	<head>
		 <link rel="stylesheet" type="text/css" href="/css/material-icons.css" />
	</head>
	<body>

@Html.Raw(Model.Icons)
	</body>
</html>

