@using Our.Iconic.Core.Helpers;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
}

<html>
<head>
    <link href="~/css/fa6/css/fontawesome.css" rel="stylesheet" />
    <link href="~/css/fa6/css/solid.css" rel="stylesheet" />
    <link href="~/css/fa6/css/brands.css" rel="stylesheet" />
</head>

<body>
    <h2>Raw</h2>
    <div>
        @Html.Raw(Model.Icon)
    </div>

    <h2>Helper</h2>
    <div>
        @Html.RenderIcon(Model.Icon, "dataX='mydata'", "myclass")
    </div>
</body>
</html>