.our-iconic__dialog select {
  margin-top: 10px;
}
.our-iconic__dialog .umb-iconpicker-item a {
  color: black;
}

.our-iconic__form legend small {
  color: #817f85;
  font-size: 12px;
  line-height: 1.5em;
  padding-top: 5px;
  display: block;
  font-weight: 400;
  text-decoration: none;
}
.our-iconic__form .filters .button-remove {
  background: 0 0;
  border: 0;
  color: #1b264f;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  margin-left: 0px;
  margin-right: 5px;
  padding: 0;
}

.our-iconic__container .umb-panel-header-icon {
  border: 1px dashed #bbbabf;
  font-weight: 700;
}
.our-iconic__container .umb-panel-header-icon:hover {
  color: #2152a3;
  border-color: #2152a3;
}
.our-iconic__container .umb-panel-header-icon:focus {
  outline-color: #6ab4f0;
}
.our-iconic__container .umb-iconpicker-item.selected {
  border: 1px dashed #808080;
  background-color: lightyellow;
}
.our-iconic__container .group-horizontal {
  display: flex;
}
.our-iconic__container .group-horizontal * {
  margin-right: 1em;
}